.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Make the main container at least the full height of the screen */
}

.main-content {
  flex-grow: 1; 
  padding: 2rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}